<h1>Angular Fundamentals</h1>
<hr>

<div>
  <h2>Data Communication</h2>
  <ul>
    <li>
      <div>
        <h3>String Interpolation</h3>
        <p>{{text}}</p>
      </div>
    </li>

    <li>
      <div>
        <h3>Property Binding</h3>
        <p>{{object.description}}</p>
        <label>
          My name is: <br>
          <input type="text" [value]="object.name">
        </label>
        <p>
          I've been alive for (years): <br>
          <progress max="50" [value]="object.age"></progress>
        </p>
        <p>
          This is what I look like: <br>
          <img width="100" height="100" [src]="object.img">
        </p>
      </div>
    </li>

    <li>
      <div>
        <h3>Event Binding</h3>
        Manage Random Object age: (button "click" event)
        <div>
          <button (click)="increaseAge()">Increase ++</button>
          <button (click)="decreaseAge()">Decrease --</button>
        </div>
        <p>---------------------------------------------------------------------------------------------------------------</p>
        Toggle Button: (button "click" event)
        <div>
          <button (click)="toggleButton()">Test</button>
          →
          <button [disabled]="buttonDisabled">I am a Button</button>
        </div>
        <p>---------------------------------------------------------------------------------------------------------------</p>
        Change Random Object name (input "keyup" event) <br>
        <p>Name: {{object.name}}</p>
        <label>
          Edit name:
          <input type="text" [value]="object.name" (keyup)="changeName($event)">
        </label>
        <p>---------------------------------------------------------------------------------------------------------------</p>
        Which is the following event? <br>
        <button (click)="eventAlert($event)">Test</button>
      </div>
    </li>

    <li>
      <div>
        <h3>Data Binding (Angular Forms → ngModel)</h3>
        <p>(required) Name: {{object.name}}
          <br>
          <label>
            Edit name:
            <input type="text" required #nameInput="ngModel" [(ngModel)]="object.name">
          </label>
          <br>
          Valid?: {{nameInput.valid}}
        </p>
        <p>
          Age:
          <br>
          <input type="number" max="17" #ageInput="ngModel" [(ngModel)]="object.age">
          <br>
          Adult?: {{!ageInput.valid}}
        </p>
      </div>
    </li>
  </ul>
</div>

<div>
  <h2>Control Structures</h2>
  <ul>
    <li>
      <div>
        <h3>*ngIf</h3>
        Age:
        <br>
        <input type="number" max="17" #ageInput="ngModel" [(ngModel)]="object.age">
        <br>
        <p *ngIf="ageInput.valid; else elseBlock">Random Object is not an adult</p>
        <ng-template #elseBlock>
          <p>Random Object is an adult</p>
        </ng-template>
      </div>
    </li>

    <li>
      <div>
        <h3>*ngFor</h3>
        These are the Random Object colors:
        <p *ngIf="object.colors.length == 0">...</p>
        <ol>
          <li *ngFor="let color of object.colors; index as i">
            {{ color }}
            <button (click)="removeColor(i)">Remove</button>
          </li>
        </ol>
        <br>
        <input type="text" [(ngModel)]="newColor"> <button (click)="addColor()">Add Color</button>
      </div>
    </li>
  </ul>
</div>

<div>
  <h2>Styles</h2>
</div>
